/* Tablet */

@media(max-width:1007px){
    html{
        font-size: 12px;
    }

    /* About Section */
    .about-section{
        flex-direction: column;
        margin-top: 4rem;
    }

    .about-image-container{
        width: 80%;
    }

    .about-description-container{
        width: 85%;
        margin-top: 3rem;
    }

    /* Skills Section */
}



/* Phone */
@media(max-width:640px){
    html{
        font-size: 10px;
    }

    label{
        cursor: pointer;
    }

    header{
        height: max-content;
        padding: 2%;
    }

    .nav-link{
        flex-direction: column;
        gap: 1rem;
    }


    /* Toggle Function */
    .nav-btn{
        display: inline-flex;
    }

    #nav-check:not(:checked)~.nav-link {
        height: 0px;
        overflow: hidden;
    }

    #nav-check:checked~.nav-link {
        height: auto;
        overflow: auto;
    }
}